{% extends 'base.html' %}

{% block content %}

<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Контакты
                </div>

              </div>
            </div>

            <div class="row">
              <b>Председатель совета: ЧЕГУРОВ АЛЕКСАНДР ЕВГЕНЬЕВИЧ</b>
            </div>
            <br>

            <div class="row">
              <ul class="vertical-menu1">
                <li>Адрес: 424032, Республика Марий Эл, г. Йошкар-Ола, ул. Героев Сталинградской Битвы, дом 12 А</li>
                <li> Телефон: +7 836 238 00 13 </li>
                <li> Email: mardpo@list.ru </li>
                <li> Сайт: www.vdpo12.ru </li>
                <li> ВК: https://vk.com/vdpo_12 </li>
                <li> Instagram: https://www.instagram.com/vdpo_12/ </li>

              </ul>
            </div>

            <div class="row">
              Контактная информация
            </div>
            <br>

            <div class="row">
              <table border="1">

                <tr align="center">
                  <td>Приемная</td>
                  <td>Мазинова Наталья Сергеевна</td>
                  <td>+7 836 238 00 13</td>
                </tr>
                <tr align="center">
                  <td>Заместитель руководителя - начальник ФЭО - главный бухгалтер</td>
                  <td>Долгополова Наталья Александровна</td>
                  <td>+7 836 238 00 23</td>
                </tr>
              </table>
            </div>
            <br>

            <div class="row">
              Местные отделения ВДПО

            </div>
            <br>


            <div class="row">
              <table border="1">

                <tr align="center">
                  <td>№</td>
                  <td>Наименование организации </td>
                  <td>Почтовый адрес </td>
                  <td>Председатель</td>
                  <td>Контакты</td>
                </tr>
                <tr align="center">
                  <td>1</td>
                  <td>Волжское РО ВДПО </td>
                  <td>425000, г. Волжск ул. Строителей, 17</td>
                  <td>Сураев Андрей Владимирович</td>
                  <td>+7 836 316 28 49</td>
                </tr>

                <tr align="center">
                  <td>2</td>
                  <td>Звениговское РО ВДПО</td>
                  <td>425060, г. Звенигово ул. Вершинина, 37</td>
                  <td>Сидоров Василий Иванович</td>
                  <td>+7 836 457 11 37</td>
                </tr>

                <tr align="center">
                  <td>3</td>
                  <td>Горномарийское РО ВДПО</td>
                  <td>425350, г. Козьмодемьянск ул. Советская, 58</td>
                  <td>Глунцов Сергей Александрович</td>
                  <td>+7 906 139 39 75</td>
                </tr>

                <tr align="center">
                  <td>4</td>
                  <td>Мари-Турекское РО ВДПО</td>
                  <td>425500, п. Мари-Турек ул. Пушкина, 4</td>
                  <td>Мухаметханова Альфия Ахатовна</td>
                  <td>+7 836 349 37 52</td>
                </tr>

                <tr align="center">
                  <td>5</td>
                  <td>Сернурское РО ВДПО</td>
                  <td>425450, п. Сернур ул. Пионерская, 28</td>
                  <td>Ибрагимова Жанна Витальевна</td>
                  <td>+7 937 111 00 93</td>
                </tr>


              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}