{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'staff_lk_sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Заказы на выдачу
                </div>
              </div>
            </div>

            {% if orders|length >= 1 %}
              <div class="w-100 order-items mb-3">
                {% for order in orders %}
                  <div class="order-item-border-bottom mb-4">
                    <div class="order-item order-item-processing mb-2">
                      <div class="order-item-id">
                        <li><a href="/edit/{{ order.order_id }}">№ {{ order.order_id }}</a></li>
                      </div>

                      <div class="order-item-goods">
                        {% if order.get_products()|length >= 1 %}
                          {% for product in order.get_products() %}
                            <span>{{product.name}} {{product.count}}шт. </span>
                          {% endfor %}
                        {% endif %}

                        {% if order.get_services()|length >= 1 %}
                          {% for service in order.get_services() %}
                            <span>{{service.name}} </span>
                          {% endfor %}
                        {% endif %}
                      </div>

                      <div class="order-item-address">
                        {{order.address}}
                      </div>

                      <div class="order-item-comment">
                        {{order.comment}}
                      </div>

                      <div class="order-item-delivery">
                        {% if order.delivery %}
                          С доставкой
                        {% else %}
                          Без доставки
                        {% endif %}
                      </div>

                      <div class="order-item-phone">
                        тел: {{get_user(order.client_id).phone}}
                      </div>
                    </div>
                    <div class="order-buttons">
                      <div class="lk_button w-100" onclick="submit('{{order.order_id}}')">
                        Выдан
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function submit(order_id) {
    let buttons = document.querySelectorAll('.lk_button');
    buttons.forEach((item) => item.classList.add('inactive'))
    
    fetch('/api/orders/submit', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json;charset=utf-8'
      },
      body: JSON.stringify({
        order_id: order_id,
        state: 'issued',
        issued: true
      })
    }).then(res => {
      window.location.reload()
    }).catch(() => {
      buttons.forEach((item) => item.classList.remove('inactive'))
    })

  }
</script>
{% endblock %}