{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Дополнительное профессиональное образование
                </div>

              </div>
            </div>

            <div class="row">
              Марийское республиканское отделение ВДПО проводит обучение по программам дополнительного
              профессионального образования.
            </div>
            <br>

            <div class="row">
              <ul class="vertical-menu1">
                <li><a href="../static/img/lic2017.pdf">Лицензия № 381 от 19 апреля 2017 года на право ведения
                    образовательной деятельности выдана Министерством образования и науки Республики Марий Эл</a></li>
              </ul>
            </div>

            <div class="row">
              Справки по телефону: (8362) 38-00-13 - приемная
            </div>
            <br>

            <div class="row">
              Программы разработаны в соответствии с Федеральным законом "О добровольной пожарной охране"
              от 06 мая 2011 г. № 100-ФЗ.

            </div>
            <br>

            <div class="row">
              <li>Программа профессионального обучения «зарядчик огнетушителей».</li>
              <li>Программа «Повышения квалификации и технической подготовки специалистов, выполняющих трубопечные
                работы».</li>
              <li>Программа «Выполнение работ по огнезащите материалов изделий и конструкций».</li>
              <li>Программа «Повышения квалификации специалистов по монтажу, техническому обслуживанию и ремонту
                установок пожаротушения, пожарно-охранной сигнализации, систем эвакуации при пожаре и их элементов.</li>
              <li>Программа «Повышения квалификации специалистов по монтажу, техническому обслуживанию и ремонту систем
                противопожарного водоснабжения и их элементов, включая диспетчеризацию и проведение пусконаладочных
                работ.</li>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}