{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  История
                </div>
              </div>
            </div>

            <div class="row">
              Общероссийская общественная организация "Всероссийское добровольное пожарное общество" (далее - ВДПО)
              основана на членстве
              в организации и действует на основании Устава.
              ВДПО - это не только крупнейшая в России общественная организация, ведущая организационно-массовую работу
              по формированию
              общественного сознания и гражданской позиции населения в области пожарной безопасности, привлечению
              граждан к предупреждению
              и тушению пожаров, но и одна из крупнейших и разветвленных производственно-сбытовых сетей противопожарной
              продукции.
              ВДПО является продолжателем традиций и деятельности российских пожарных добровольцев, которые были
              заложены, созданным в 1892
              году Императорским Российским пожарным обществом.
              Идея создания общероссийского центра добровольной пожарной охраны возникла во время работы Всероссийской
              пожарной выставки,
              устроенной Русским техническим обществом в 1892 г. в г. Санкт-Петербурге, где одновременно с выставкой
              проходил первый съезд русских деятелей пожарной охраны.
            </div>
            <div>
            </div>
            <br>
            <div class="row">
              <table cellpadding="0" cellspacing="0">

                <tr align="left">
                  <td><img src="../static/img/history1.jpg"></td>
                  <td><img src="../static/img/history2.jpg"></td>
                </tr>
                <tr align="left">
                  <td><img src="../static/img/history3.jpg"></td>
                  <td><img src="../static/img/history4.jpg"></a></td>
                </tr>

              </table>
            </div>

            <br>
            <div class="row">
              15 июня 1892 г. съезд русских деятелей пожарной охраны единодушно признал жизненно важным создание
              Пожарного общества,
              одобрив проект Устава Общества - этот день следует считать днем рождения Российского пожарного общества.

              В 1893 г. было создано Соединенное Российское пожарное общество, сформирован и приступил к практической
              Совет Общества, председателем которого стал граф Шереметев А.Д.

              В 1898 г. Российское пожарное общество стало Императорским, а почетным председателем стал Великий князь
              Владимир Александрович
              ,а после его смерти (1909 г.), это дело на себя приняла его супруга Великая княгиня Мария Павловна,
              которая активно участвовала в работе Общества. Вторым председателем Общества был князь Львов А.Д.

            </div>

            <br>
            <div class="row">
              <table cellpadding="0" cellspacing="0">

                <tr align="left">
                  <td><img src="../static/img/graf.jpg"><br> </td>
                  <td><img src="../static/img/knlv.jpg"></td>
                  <td><img src="../static/img/knm.jpg"><br></td>
                  <td><img src="../static/img/knv.jpg"></td>

                </tr>
                <tr align="left">
                  <td>Граф <br> Шереметьев А.Д.</td>
                  <td>Князь <br> Львов А.Д.</td>
                  <td>Княгиня Мария <br>Павловна</td>
                  <td>Князь Владимир <br> Александрович</td>
                </tr>

              </table>
            </div>

            <br>
            <div class="row">
              Деятельность Общества носила многогранный характер. В его задачи входило: принятие предупредительных мер,
              пресечение пожарных бедствий,
              помощь пожарным и лицам, пострадавшим от пожаров, издание специальной литературы, организация и проведение
              пожарных выставок.
              Основным источником финансирования деятельности совета Общества и добровольных пожарных организаций
              являлись разовые взносы
              почетных членов Общества, страховых компаний, деньги от лотерей, продажи пожарной техники.
              Российское пожарное общество являлось фактически единственным в России центром по решению всех проблем,
              связанных с пожарами.
              Усилиями совета Общества удалось объединить многих деятелей пожарной охраны для решения насущных вопросов
              пожарной безопасности.
              Велика была заслуга Общества в расширении противопожарной пропаганды.
            </div>
            <br>
            <div class="row">
              <table cellpadding="0" cellspacing="0">

                <tr align="left">
                  <td><img src="../static/img/history5.jpg"></td>
                </tr>
                <tr align="left">
                  <td><img src="../static/img/history6.jpg"></td>
                </tr>

              </table>
            </div>
            <br>
            <div class="row">
              С 1894 г. в Санкт-Петербурге стал выходить ежемесячный журнал "Пожарное дело", учрежденный советом
              Общества.
              Общество не только выпускало периодические издания, но и занималось созданием и распространением
              пожарно-технической литературы на местах.
              26 апреля 1899 г. Главный совет Общества учредил Всероссийское общество взаимопомощи пожарных деятелей -
              "Общество Голубого Креста".
              Задачей данного страхового общества являлось оказание помощи пожарным в случае получения ими инвалидности
              и прочего ущерба при
              выполнении профессионального долга, а также членам семей пожарных в случае потери кормильца.
              Для награждения работников пожарной охраны, отличившихся при тушении пожаров, а также лиц, внесших
              значительный вклад в развитие
              пожарной науки или оказавших весомое материальное содействие деятельности Общества, в 1901 г. были
              учреждены золотой, серебряный
              и бронзовый наградные знаки императорского Российского пожарного общества
            </div>
            <br>
            <div class="row">
              <table cellpadding="0" cellspacing="0">

                <tr align="left">
                  <td><img src="../static/img/history7.jpg"></td>
                </tr>
                <tr align="left">
                  <td><img src="../static/img/history8.jpg"></td>
                </tr>

              </table>
            </div>

            <br>
            <div class="row">
              Одной из успешных форм привлечения общественного внимания к вопросам пожарной безопасности были съезды
              пожарных,
              которые регулярно проходили в разных городах России. Во время их работы, как правило, устраивались
              выставки пожарной техники.
              Всего состоялось девять съездов Общества:
            </div>
            <br>
            <div class="row">
              <ul class="vertical-menu1">
                <li>I русских деятелей по пожарному делу открылся 14 июня 1892 года в г. Санкт-Петербурге.</li>
                <li>II съезд пожарных деятелей состоялся с 25 июня по 1 июля 1896 г. в г. Нижнем Новгороде.</li>
                <li>III съезд пожарных деятелей состоялся в 1899 г. в г. Орле.</li>
                <li>IV съезд пожарных и страховых деятелей состоялся в 1902 г. в г. Москве. </li>
                <li>V съезд членов Общества состоялся в 1906 г. в г. Пскове.</li>
                <li>VI Общий съезд членов Общества проведен в 1910 г. в г. Риге.</li>
                <li>VII Общий съезд членов Общества состоялся в 1913 г. в г. Киеве.</li>
                <li>VIII съезд пожарных деятелей состоялся в 1917 г. в г. Петрограде.</li>
                <li>IX съезд Всероссийского пожарного общества состоялся 28 апреля 1919 г.</li>
              </ul>
            </div>

            <div class="row">
              Основной задачей съезда было адаптация деятельности Общества к современным условиям. Однако 2 мая 1919 г.
              протоколом № 79
              Пожарно-страхового отдела Высшего Совета Народного Хозяйства - Общество как таковое ликвидируется.
              Практически пожарное добровольчество прекратило свое существование.
              К началу 60-х годов прошлого века в большинстве автономных республик, краев и областей Российской
              Федерации функционировали
              добровольные пожарные общества, располагающие производственной базой и опирающиеся на многочисленный
              общественный актив.
              14 июля 1960 года Совет Министров РСФСР принимает постановление об организации ВДПО, а в ноябре этого же
              года состоялась
              Учредительная конференция Всероссийского добровольного пожарного общества, которая приняла устав общества.
              В начале 90-х годов прошлого века социально-экономический кризис в стране резко сузил деятельность
              организаций ВДПО,
              наметилась тенденция к выходу из состава Общества и обособленности целого ряда региональных организаций.
              Но Всероссийское добровольное пожарное общество устояло, как организованная общественная сила, вносящая
              определенный вклад
              в дело борьбы с пожарным бедствием.
              Председателями президиума Центрального совета ВДПО в разные годы были:
            </div>
            <br>
            <div class="row">
              <ul class="vertical-menu1">
                <li>1960 - 1967 г.г. - Богданов Павел Михайлович.</li>
                <li>1967 - 1972 г.г. - Фигуровский Константин Владимирович.</li>
                <li>1972 - 1981 г.г. - Рудов Петр Константинович.</li>
                <li>1981 - 1987 г.г. - Башлаков Петр Матвеевич. </li>
                <li>1987 - 1990 г.г. - Дмитриев Геннадий Михайлович.</li>
                <li>1990 - 2006 г.г. — Тесленко Геннадий Петрович.</li>
                <li>2006 - 2011 г.г. - Груздь Сергей Иванович.</li>
                <li>2011 - 2016 г.г. - Верзилин Михаил Михайлович.</li>

              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}