{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Испытания монтажных поясов и веревок
                </div>

              </div>
            </div>

            <div class="row">
              <b>Марийское республиканское отделение ВДПО проводит испытания монтажных поясов и веревок.</b>
            </div>
            <br>
            <div class="row">
              Справки по телефону: (8362) 38-00-13 - приемная
            </div>
            <br>
            <div class="row">
              Пригодность спасательных поясов и веревок определяется наружным осмотром,
              который производится ежедневно перед работой и после каждого применения.
            </div>
            <br>
            <div class="row">
              Наружный осмотр веревок, кроме того, должен осуществляться не реже одного раза в 10 дней,
              а также после каждого применения в дождливую или снежную погоду лицом, ответственным за производство
              работ.
              Каждому поясу и веревке присваивается инвентарный номер.
              Помимо наружного осмотра предохранительные приспособления периодически испытывают на прочность.
              Эти испытания проводят специализированные организации осуществляющие данный вид деятельности и
              оформляют актами установленной формы.

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}