{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Как стать членом ВДПО
                </div>

              </div>
            </div>

            <div class="row">
              <b>1.</b> Членами Общества могут быть физические лица, достигшие 18 лет,
              признающие и соблюдающие положения Устава Общества и заинтересованные в решении уставных задач ВДПО.
            </div>

            <div>
              <br>
              <div class="row">
                <b>2.</b> Членами ВДПО могут быть юридические лица - общественные объединения (далее – общественные
                объединения),
                заинтересованные в совместном решении уставных задач ВДПО и (или) оказывающие материальную и (или) иную
                поддержку
                и содействие в достижении целей Общества.
              </div>
              <br>
              <div class="row">
                <b>3.</b> Прием физических лиц в члены ВДПО осуществляется решением Центрального совета Общества, а
                также решениями
                соответствующих советов региональных отделений Общества на основании поданных ими письменных заявлений.
                Прием в члены ВДПО общественных объединений - юридических лиц, осуществляется Центральным советом
                Общества
                на основании решения руководящего органа общественного объединения, намеренного вступить в члены
                Общества.
              </div>
              <br>
              <div class="row">
                <b>4.</b> Физическому лицу – члену Общества выдаётся членский билет единого установленного образца и
                нагрудный знак,
                общественному объединению – члену Общества – свидетельство о приеме в члены ВДПО.
              </div>
              <br>
              <div class="row">
                <b>5.</b> С общественными объединениями – членами ВДПО, Центральный совет Общества заключает соглашения
                об условиях их членства в Обществе.
              </div>
              <br>
              <div class="row">
                <b>6.</b> Общественные объединения - члены Общества осуществляют вза¬имодействие с Обществом через своих
                уполномоченных представителей.
                Количество представителей от каждого общественного объединения - члена Общества определяется Центральным
                советом Общества.
              </div>
              <br>
              <div class="row">
                <b>7.</b> Добровольный выход из членов Общества осуществляется на основании за¬явления физического лица
                – члена Общества. Добровольный выход из членов Общества
                общественных объединений - членов Общества осуществляется на основании решения руководящего органа
                общественного объединения – члена Общества,
                поданного в Центральный совет ВДПО.
              </div>
              <br>
              <div class="row">
                <b>8.</b> В случае грубого нарушения или систематического невыполне¬ния требований настоящего Устава или
                решений руководящих органов ВДПО,
                а также совершения действий (бездействия), противоречащих целям и задачам Общества, возможно исключение
                из членов ВДПО решением Центрального
                совета или соответствующих советов региональных отделений Общества. Решение об исключении из членов
                Общества может быть обжаловано в адрес
                очередного заседания вышестоящего руководящего органа ВДПО.
              </div>
              <br>
              <div class="row">
                <b>9.</b> Лицо, исключенное из членов ВДПО, не может занимать и быть избранным на выборные должности и
                (или) в руководящие органы Общества.
              </div>
              <br>
              <div class="row">
                <b>10.</b> В Обществе ведется единый учет членов Общества в порядке, установленном решением Центрального
                совета ВДПО.
              </div>
              <br>
              <div class="row">
                <b>11.</b> ВДПО имеет почетное членство. Почетными членами ВДПО на основании решения Центрального совета
                ВДПО могут быть видные
                государственные политические и общественные деятели, ученые, представители культуры, спорта, ветераны
                ВДПО и пожарной охраны и иные
                заслуженные граждане, внесшие особый вклад в развитие и укрепление Общества, реализацию его целей и
                задач. Почетным членам ВДПО могут
                быть предоставлены дополнительные права и льготы в порядке, определяемом Центральным советом ВДПО.
              </div>
              <br>
              <div class="row">
                <b>12.</b> Члены Общества имеют право:
              </div>
              <br>
              <div class="row">
                <ul class="vertical-menu1">
                  <li>12.1. участвовать во всех проводимых Обществом мероприятиях;</li>
                  <li>12.2. избирать и быть избранными в руководящие и контрольно-ревизионные органы Общества;</li>
                  <li>12.3. обучаться в образовательных учреждениях, заниматься в клубах, секциях и других учреждениях
                    ВДПО на особых условиях, определяемых руководящими органами Общества;</li>
                  <li>12.4. пользоваться в установленном Центральным советом ВДПО порядке ссудами и безвозмездными
                    ассигнованиями Общества, преимущественным правом (в первоочередном порядке и на льготных условиях)
                    при получении услуг Общества; </li>
                  <li>12.5. получать консультации и иную помощь по всем направлениям деятельности Общества;</li>
                  <li>12.6. получать информацию о деятельности Общества;</li>
                  <li>12.7. быть представленными к награждению за отличие в деятельности по реализации уставных целей и
                    задач Общества
                    в порядке, установленном Центральным советом ВДПО;</li>
                  <li>12.8. на ношение в установленном порядке форменной одежды, наград, знаков различия и отличительных
                    знаков;</li>
                  <li>12.9. свободно выходить из членов Общества.</li>
                </ul>
              </div>
              <div class="row">
                <b>13.</b> Члены Общества обязаны:
              </div>
              <br>
              <div class="row">
                <ul class="vertical-menu1">
                  <li>13.1. принимать участие в благотворительной деятельности Общества, в установленном порядке
                    исполнять общественные обязанности
                    в сфере пожарной безопасности и защиты населения и территорий от чрезвычайных ситуаций;</li>
                  <li>13.2. оказывать финансовое или иное содействие в достижении уставных целей и задач Общества,
                    своевременно и в полном объеме уплачивать
                    в установленном порядке вступительные, членские и целевые взносы;</li>
                  <li>13.3. знать, соблюдать лично и требовать от других членов Общества соблюдения настоящего Устава,
                    исполнения решений руководящих органов Общества
                    и общих требований пожарной безопасности, защиты населения и территорий от чрезвычайных ситуаций.
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}