{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Обучение по программе ГОЧС
                </div>

              </div>
            </div>

            <div class="row">
              Марийское республиканское отделение ВДПО проводит обучение по программе курсового обучения
              должностных лиц и работников гражданской обороны и единой государственной системы предупреждения
              и ликвидации чрезвычайных ситуаций по следующим направлениям:

            </div>
            <br>

            <div class="row">
              <li>Руководители нештатных аварийно-спасательных формирований, нештатных формирований по
                обеспечению выполнения мероприятий по гражданской обороне (24-36 часов)</li>
              <li>Руководители гражданской обороны организаций, не отнесенных к категориям по гражданской обороне (16
                часов)</li>
              <li>Работники, осуществляющие обучение в области ГО и защиты от ЧС (24 часа)</li>
              <li>Руководители и специалисты дежурно-диспетчерских служб организаций (21 час)</li>
              <li>Руководители эвакуационных органов (12-24 часа)</li>
              <li>Работники, уполномоченные на решение задач в области ГО и защиты от ЧС (22-24 часа)</li>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}