{% extends 'base.html' %}

{% block content %}

<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Обучение специалистов ДПК,ДПД
                </div>

              </div>
            </div>

            <div class="row">
              Марийское республиканское отделение ВДПО проводит обучение по программе профессиональной
              переподготовки специалистов добровольных пожарных команд (дружин).
            </div>
            <br>

            <div class="row">
              <ul class="vertical-menu1">
                <li><a href="../static/img/lic2017.pdf">Лицензия № 381 от 19 апреля 2017 года на право ведения
                    образовательной деятельности выдана Министерством образования и науки Республики Марий Эл</a></li>
              </ul>
            </div>

            <div class="row">
              Справки по телефону: (8362) 38-00-13 - приемная
            </div>
            <br>

            <div class="row">
              Программа подготовки специалистов добровольных пожарных команд разработана в соответствии
              с Федеральным законом "О добровольной пожарной охране" от 06 мая 2011 г. № 100-ФЗ.

            </div>
            <br>

            <div class="row">
              <b>Учебный план </b>
            </div>
            <br>

            <div class="row">
              <b>Цель:</b> Профессиональная подготовка специалистов добровольных пожарных команд.
            </div>
            <br>

            <div class="row">
              <b>Категория слушателей:</b> специалисты добровольных пожарных команд (дружин).
            </div>
            <br>

            <div class="row">
              <table border="1">

                <tr align="center">
                  <td rowspan="2">№ п/п </td>
                  <td rowspan="2">Наименование дисциплин</td>
                  <td rowspan="2">Всего часов</td>
                  <td colspan="2">В том числе</td>
                  <td rowspan="2">Форма контроля зачет</td>
                </tr>
                <tr align="center">
                  <td>лекции, семинары </td>
                  <td>практ. занятия </td>
                </tr>

                <tr align="center">
                  <td>1</td>
                  <td>Охрана труда</td>
                  <td>1</td>
                  <td>1</td>
                  <td>-</td>
                  <td>-</td>
                </tr>

                <tr align="center">
                  <td>2</td>
                  <td>Организация деятельности пожарной охраны</td>
                  <td>1</td>
                  <td>1</td>
                  <td>-</td>
                  <td>-</td>
                </tr>

                <tr align="center">
                  <td>3</td>
                  <td>Пожарная безопасность зданий и сооружений. Пожарная профилактика.</td>
                  <td>2</td>
                  <td>2</td>
                  <td>-</td>
                  <td>-</td>
                </tr>

                <tr align="center">
                  <td>4</td>
                  <td>Тактика тушения пожаров и проведения аварийно-спасательных работ.</td>
                  <td>3</td>
                  <td>3</td>
                  <td>-</td>
                  <td>-</td>
                </tr>

                <tr align="center">
                  <td>5</td>
                  <td>Пожарная и аварийно спасательная техника, противопожарное водоснаб-жение и связь.</td>
                  <td>3</td>
                  <td>3</td>
                  <td>1</td>
                  <td>-</td>
                </tr>

                <tr align="center">
                  <td>6</td>
                  <td>Пожарно-строевая подготовка</td>
                  <td>2</td>
                  <td>1</td>
                  <td>2</td>
                  <td>-</td>
                </tr>

                <tr align="center">
                  <td>7</td>
                  <td>Первая помощь</td>
                  <td>2</td>
                  <td>1</td>
                  <td>1</td>
                  <td>-</td>
                </tr>

                <tr align="center">
                  <td>8</td>
                  <td>Психологическая подготовка</td>
                  <td>1</td>
                  <td>1</td>
                  <td>-</td>
                  <td>-</td>
                </tr>

                <tr align="center">
                  <td>9</td>
                  <td>Итоговый контроль (зачет)</td>
                  <td>1</td>
                  <td>-</td>
                  <td>-</td>
                  <td>1</td>
                </tr>

                <tr align="center">
                  <td colspan="2">Итого: </td>
                  <td>16</td>
                  <td>11</td>
                  <td>4</td>
                  <td>1</td>

                </tr>

              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}