{% extends 'base.html' %}

{% block content %}

<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Обучение пожарно-техническому минимуму
                </div>

              </div>
            </div>

            <div class="row">
              Марийское республиканское отделение ВДПО проводит обучение пожарно-техническому минимуму.
            </div>
            <br>

            <div class="row">
              <ul class="vertical-menu1">
                <li><a href="../static/img/lic2017.pdf">Лицензия № 381 от 19 апреля 2017 года на право ведения
                    образовательной деятельности выдана Министерством образования и науки Республики Марий Эл</a></li>
              </ul>
            </div>

            <div class="row">
              Справки по телефону: (8362) 38-00-13 - приемная
            </div>
            <br>

            <div class="row">
              Законом предусмотрено обучение пожарному минимуму, с отрывом от производства (для руководителей
              и главных специалистов, лиц, ответственных за пожарную безопасность и категорий работников,
              занятых на взрыво- пожароопасных производствах, а также представителей профессий, знание основ
              пожарной безопасности в которых чрезвычайно важно, например — киномехаников, педагогов детских
              дошкольных и оздоровительных учреждений). Для прочих категорий работников обучение ПТМ возможно
              без отрыва от производства, согласно приказу (распоряжению) руководителя предприятия.
              Задачи обучения пожарно-техническому минимуму сводятся к практическому усвоению противопожарных
              знаний, соответственно особенностям производства. Уровень усвоения специальных правил пожарной
              безопасности
              должен быть, при этом, настолько высок, чтобы, не будучи специалистами в пожарном деле, мы могли
              бы успешно осуществлять на вверенном нам участке производства весь комплекс профилактических мер пожарной
              безопасности. Строгий контроль над результатами обучения пожарно-техническому минимуму подразумевает,
              что работники, прошедшиеобучение ПТМ, способны слаженно и грамотно поступать в критических ситуациях,
              в случае пожара предпринимая все возможные действия для ограничения его трагических последствий.
              Каждый работник на производстве, в деле обеспечения пожарной безопасности, имеет свою меру
              ответственности,
              поэтому и обучение пожарному минимуму, в идеале, должно быть всеобщим.
            </div>
            <br>

            <div class="row">
              <b>Должен ли руководитель обучаться «пожарно-техническому минимуму»? </b>
            </div>
            <br>

            <div class="row">
              Обучение пожарно-техническому минимуму работников на предприятиях вменяется в обязанности руководителей,
              именно распоряжением руководителя определяется график обучения ПТМ, формируется список обучаемых.
              Обучение пожарно-техническому минимуму сотрудников может проводить сам руководитель (как правило,
              в организациях с небольшим количеством работников), либо работник, назначенный ответственным за
              пожарную безопасность на предприятии.
              Согласно Приказа МЧС РФ от 12 декабря 2007 г. N 645 "Об утверждении Норм пожарной безопасности
              "Обучение мерам пожарной безопасности работников организаций"
              (http://base.garant.ru/192618/#ixzz2x8cWSz8G)
              обучающий сам должен пройти обучение ПТМ в организации, имеющей лицензию Министерства образования и науки
              на право обучения пожарно-техническому минимуму.
              Регулярность обучения ПТМ руководителей, главных специалистов, а также исполняющих их обязанности
              на производстве, равно как и лиц, ответственных за пожарную безопасность и противопожарный инструктаж,
              строго регламентирована. Обучение ПТМ является обязательным условием при приеме на работу,
              если должность работника сопряжена с высокой мерой ответственности в области пожарной безопасности.
              Законом определено регулярное ежегодное обучение ПТМ работников, занятых на взрыво-пожароопасных
              производствах
              Периодичность возобновления знаний пожарно-технического минимума на производствах, не являющихся
              взрывоопасными,
              составляет 1 раз в 3 года.
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}