{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Огнезащитная обработка
                </div>

              </div>
            </div>

            <div class="row">
              Марийское республиканское отделение ВДПО проводит огнезащитную обработку материалов, изделий и
              конструкций.
            </div>
            <br>
            <div class="row">
              Справки по телефону: (8362) 38-00-13 - приемная
            </div>
            <br>

            <div class="row">
              Огнезащитная обработка - нанесение огнезащитных средств (паст, красок, лаков, др.) на поверхность
              объектов защиты (конструкции, материалы, изделия), пропитка древесных материалов огнезащитными
              растворами. Различают поверхностную, а также глубокую пропитки. При поверхностной пропитке
              древесины на ее поверхности образуется огнезащитный слой толщиной 1-2 мм. Для большего эффекта
              огнезащитную обработку древесины растворами под давлением проводят в специально оборудованных
              автоклавах, чем обеспечивается глубокая пропитка.
            </div>
            <br>

            <div class="row">
              Здания, пожарные отсеки подразделяются по степеням огнестойкости согласно таблице.
              К несущим элементам здания, как правило, относятся несущие стены, колонны, связи,
              диафрагмы жесткости, элементы перекрытий (балки, ригели или плиты), если они участвуют
              в обеспечении общей устойчивости, а также геометрической неизменяемости здания при пожаре.
              Сведения о несущих конструкциях, не участвующих в обеспечении общей устойчивости здания,
              приводятся проектной организацией в технической документации на здание.
            </div>
            <br>

            <div class="row">
              Пределы огнестойкости заполнения проемов (дверей, ворот, окон и люков, а также фонарей,
              в том числе зенитных и других светопрозрачных участков настилов покрытий) не нормируются,
              за исключением специально оговоренных случаев и заполнения проемов в противопожарных преградах.
            </div>
            <br>

            <div class="row">
              В случаях когда минимальный требуемый предел огнестойкости конструкции указан R 15 (RE 15, REI 15),
              допускается применять незащищенные стальные конструкции независимо от их фактического предела
              огнестойкости, за исключением случаев, когда предел огнестойкости несущих элементов здания
              по результатам испытаний составляет менее R 8.

            </div>
            <br>

            <div class="row">
              С учетом применения огнезащитных красок и составов, можно выделить следующие направления огнезащиты:
            </div>
            <br>

            <div class="row">
              <ul class="vertical-menu1">
                <li>огнезащита деревянных конструкций;</li>
                <li>огнезащита металлоконструкций;</li>
                <li> огнезащита воздуховодов;</li>
                <li>огнезащита кабелей;</li>
                <li>огнезащита ковровых покрытий и тканей ;</li>
                <li>огнезащита бетона.</li>
              </ul>
            </div>



          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}