{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Разработка и изготовление планов эвакуации
                </div>

              </div>
            </div>

            <div class="row">
              Марийское республиканское отделение ВДПО оказывает услуги по разработке и изготовлению планов эвакуации.
            </div>
            <br>
            <div class="row">
              Справки по телефону: (8362) 38-00-13 - приемная
            </div>
            <br>

            <div class="row">
              План эвакуации — документ, в котором указаны эвакуационные пути и выходы, установлены
              правила поведения людей, а также порядок и последовательность действий обслуживающего персонала
              на объекте при возникновении ЧС. План эвакуации, знаки безопасности и указатели направления
              позволяют принять необходимые меры по эвакуации людей с мест массового скопления
              при возникновении чрезвычайных ситуаций.
            </div>
            <br>

            <div class="row">
              На объекте с массовым пребыванием людей (кроме жилых домов), а также на объекте с рабочими местами
              на этаже для 10 и более человек руководитель организации обеспечивает наличие планов
              эвакуации людей при пожаре.
            </div>
            <br>

            <div class="row">
              Назначение плана эвакуации:
            </div>
            <br>

            <div class="row">
              <ul class="vertical-menu1">
                <li>четко обозначить пути эвакуации, эвакуационные выходы, обеспечивающие безопасность
                  процесса организованного самостоятельного движения людей наружу из помещений,
                  в которых имеется возможность воздействия на них опасных факторов пожара,
                  без учета применяемых в них средств пожаротушения и защиты от дыма;</li>
                <li>указать расположение пожарного оборудования и средств оповещения о пожаре;</li>
                <li>напомнить о первоочередных действиях, которые необходимо предпринять каждому человеку,
                  обнаружившему начавшийся пожар.</li>

              </ul>
            </div>

            <div class="row">
              Создание планов эвакуации регламентируется ГОСТ Р 12.2.143-2009 (с изменениями №1 от 2012 года).
              Планы эвакуации представляют собой схемы, на которые нанесены контуры помещений, коридоров, лестничных
              маршей в зданиях
              и сооружениях, где могут находиться люди. На этих схемах условными обозначениями (элементами)
              указаны пути эвакуации, эвакуационные и аварийные выходы, места расположения противопожарного
              оборудования, аварийных телефонов связи, средств первой медицинской помощи и дополнительных
              средств спасения (например, противогазы и т. д.). На планах эвакуации расшифровываются все
              условные обозначения, примененные на них, а также установленные правила поведения людей,
              порядок и последовательность их действий в условиях чрезвычайной (аварийной) ситуации.
            </div>
            <br>


            <div class="row">
              <b> Требования к планам эвакуации </b>
            </div>
            <br>

            <div class="row">
              Основные требования представлены в ГОСТ 12.2.143-2009 (с изменениями №1 от 2012 года).
              Планы эвакуации могут быть этажными, секционными, локальными и сводными (общими).
              Этажные планы эвакуации разрабатывают для этажа в целом. Секционные планы эвакуации следует разрабатывать:
            </div>
            <br>

            <div class="row">
              <ul class="vertical-menu1">
                <li>если площадь этажа более 1000 м²;</li>
                <li>при наличии на этаже нескольких обособленных эвакуационных выходов, отделенных от других
                  частей этажа стеной, перегородкой;</li>
                <li>при наличии на этаже раздвижных, подъемно-опускных и вращающихся дверей, турникетов;</li>
                <li>при сложных (запутанных или протяженных) путях эвакуации.</li>

              </ul>
            </div>

            <div class="row">
              Вторые экземпляры этажных (секционных) планов эвакуации, относящихся к одному зданию, сооружению,
              транспортному средству или объекту, включают в сводный (общий) план эвакуации для здания,
              сооружения, транспортного средства или объекта в целом.
              Сводные планы эвакуации следует хранить у дежурного и выдавать по первому требованию руководителя
              ликвидации чрезвычайной ситуации.
              Локальные планы эвакуации следует разрабатывать для отдельных помещений (номеров гостиниц,
              общежитии, больничных палат, кают пассажирских судов и т. п.).
              При проведении работ по реконструкции или перепланировке здания, сооружения, транспортного
              средства, объекта в план эвакуации должны быть внесены соответствующие изменения.
            </div>
            <br>

            <div class="row">
              Планы эвакуации должны состоять из графической и текстовой частей. Графическая часть должна
              включать в себя этажную (секционную) планировку здания, сооружения, транспортного средства,
              объекта с указанием:
            </div>
            <br>


            <div class="row">
              <ul class="vertical-menu1">
                <li>путей эвакуации;</li>
                <li>эвакуационных выходов и (или) мест размещения спасательных средств;</li>
                <li>аварийных выходов, незадымляемых лестничных клеток, наружных открытых лестниц и т. п.;</li>
                <li>места размещения самого плана эвакуации в здании, сооружении, транспортном средстве, объекте;</li>
                <li>мест размещения спасательных средств, обозначаемых знаками безопасности и символами ИМО;</li>
                <li>мест размещения средств противопожарной защиты, обозначаемых знаками пожарной безопасности
                  и символами ИМО.</li>

              </ul>
            </div>

            <div class="row">
              Цветографические изображения знаков безопасности, символов ИМО и знаков безопасности (символов)
              отраслевого назначения на планах эвакуации должны соответствовать требованиям ГОСТ Р 12.4.026,
              Резолюций ИМО А.654 (16), А.760 (18) и нормативным документам отраслевого назначения.
              Знаки безопасности и символы могут быть дополнены цифровыми, буквенными или буквенно-цифровыми
              обозначениями.
              Высота знаков безопасности и символов на плане эвакуации должна быть от 5 до 15 мм,
              на одном плане эвакуации они должны быть выполнены в едином масштабе.
              Для знаков безопасности, символов и условных графических обозначений должны быть даны пояснения
              их смыслового значения в текстовой части плана эвакуации.
              На этажных планах эвакуации в графической части должен быть указан номер этажа.
            </div>
            <br>

            <div class="row">
              В текстовой части следует излагать:
            </div>
            <br>


            <div class="row">
              <ul class="vertical-menu1">
                <li>способы оповещения о возникновении чрезвычайной ситуации (пожара, аварии и др.);</li>
                <li>порядок и последовательность эвакуации людей;</li>
                <li>обязанности и действия людей, в том числе порядок вызова пожарных или аварийно-спасательных
                  подразделений, экстренной медицинской помощи и др.;</li>
                <li>порядок аварийной остановки оборудования, механизмов, отключения электропитания и т. п.;</li>
                <li>порядок ручного (дублирующего) включения систем (установок) пожарной и противоава-рийной автоматики.
                </li>
                <li>наименование организации разработчика плана эвакуации, имеющей специальное разрешение
                  на осуществление данной деятельности, с маркировкой плана эвакуации в соответствии
                  с требованием 10.1 настоящего стандарта.</li>

              </ul>
            </div>

            <div class="row">
              Размеры планов эвакуации выбирают, мм не менее:
            </div>
            <br>

            <div class="row">
              <ul class="vertical-menu1">
                <li>600 х 400 для этажных и секционных планов эвакуации;</li>
                <li>400 х 300 для локальных планов эвакуации.</li>
              </ul>
            </div>


            <div class="row">
              Размер плана эвакуации выбирается в зависимости от его назначения, площади помещения,
              количества эвакуационных и аварийных выходов.
              Пути эвакуации, ведущие к основным эвакуационным выходам, следует обозначать сплошной линией
              зелёного цвета с указанием направления движения.
              Пути эвакуации, ведущие к аварийным эвакуационным выходам, следует обозначать штриховой линией
              зелёного цвета с указанием направления движения.
            </div>
            <br>

            <div class="row">
              Планы эвакуации следует выполнять на основе фотолюминесцентных материалов.
              До 1-го июля 2010 года допускалось использовать для выполнения планов эвакуации несветящиеся
              материалы, которые должны соответствовать требованиям ГОСТ Р 12.4.026, установленным
              к несветящимся материалам. С первого июля в связи с вступлением в силу ГОСТ Р 12.2.143-2009
              план эвакуации может быть изготовлен только с применением фотолюминисцентных материалов.
              Фон плана эвакуации должен быть желтовато-белым или белым для фотолюминесцентных материалов
              и белым для несветящихся материалов. Надписи и графические изображения на плане эвакуации
              (кроме знаков безопасности и символов) должны быть чёрного цвета независимо от фона. Шрифт
              надписей на плане эвакуации по ГОСТ Р 12.4.026. Высота шрифта не менее 3 мм
              (согласно изменениям №1 в ГОСТ 12.2.143-2009).
            </div>
            <br>

            <div class="row">
              Разработанные планы эвакуации утверждаются руководителем организации и являются основанием
              для их воспроизведения и вывешивания на стенах помещений и коридоров, на колоннах и т. п.
              в строгом соответствии с местом размещения, указанным на самом плане эвакуации.
            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}