{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Проектирование, монтаж и обслуживание систем ОПС
                </div>

              </div>
            </div>

            <div class="row">
              Справки по телефону: (8362) 38-00-13 - приемная
            </div>
            <br>

            <div class="row">
              Под системой охранно-пожарной сигнализации следует понимать целый комплекс технических устройств,
              которые способствуют своевременному обнаружению, обработке и передаче поступившего сигнала
              о начале возгорания, нарушения доступа в помещении, подаче определенных команд, автоматически
              приводящих в действие механизм включения установок пожаротушения, вызов охраны на место взлома,
              а также обеспечения срабатывания противодымной защиты и других устройств, необходимых для
              комплексного обеспечения безопасности на объекте.
              Оборудование объектов современными системами охранно-пожарной сигнализации показало свою большую
              эффективность и экономическую оправданность, именно поэтому руководители различного уровня
              все чаще прибегают к установке автоматических систем сигнализации, позволяющих значительно
              сократить использование охранников.
              В первую очередь в установке таких систем нуждаются объекты, возгорание которых или
              проникновение на которые может привести к крупным материальным потерям или даже гибели людей.
              Цель установки систем пожарной сигнализации - обеспечение автоматического обнаружения объекта
              возгорания, своевременное включение систем, информирующих людей о пожаре или проникновении на
              объект, обеспечивающих локализацию или защиту.
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}