{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Символика
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="position-relative">
                  <div class="rotate-img news-post-img">
                    <img src="../static/img/flag.jpg" alt="thumb" class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="col-sm-8 grid-margin">

                <h2 class="mb-2 font-weight-600">

                  Флаг ВДПО
                </h2>

                <p class="mb-0">
                  Флаг Общества имеет форму прямоугольника с размером сторон 1 х 1,75 м. Из верхнего правого угла под
                  углом 40 градусов к нижней линии флага идет красная полоса шириной 0,83 м с белыми полосами по краям
                  шириной 0,04 м каждая. Правая белая полоса наружной стороной начинается из правого верхнего угла
                  флага,
                  левая белая полоса наружной стороной заканчивается в левом нижнем углу флага. Общая ширина красной
                  полосы
                  с двумя белыми полосами 0,91 м. Остальные части флага - голубого цвета.
                  В центре красной полосы изображение эмблемы ВДПО золотистого цвета. Эмблема вписывается в окружность
                  диаметра 0,45 м.
                  Флаг крепится к древку левой стороной.
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4 grid-margin">
                <div class="position-relative">
                  <div class="rotate-img news-post-img">
                    <img src="../static/img/emblema.jpg" alt="thumb" class="img-fluid" />
                  </div>
                </div>
              </div>
              <div class="col-sm-8 grid-margin">
                <h2 class="mb-2 font-weight-600">
                  Эмблема и знак ВДПО
                </h2>
                <p class="mb-0">
                  Эмблема Общества имеет форму вытянутого вверх овального венка. Левая ветвь венка из лавровых листьев,
                  правая - из дубовых листьев. Верхняя часть ветвей не соприкасается. Левая и правая ветви трижды
                  переплетены
                  лентой Нижняя часть эмблемы переплетена лентой красного цвета с надписью "ВДПО" золотистого цвета.
                  Средняя лента - синего цвета, а верхняя лента - белого цвета. Внутри венка изображение каски пожарного
                  на фоне двух перекрещенных пожарных топоров. Сзади каски пожарного и пожарных топоров диаметрально
                  снизу
                  вверх расположен факел с огнем красного цвета. Ветви венка и рукоять факела золотистого цвета, каска
                  пожарного,
                  пожарные топоры золотистого или серебристого цвета.
                  Знак ВДПО представляет собой рельефное изображение эмблемы Общества.
                </p>
              </div>
            </div>

            <div class="row">
              <p class="mb-0">
                Знак ВДПО прошёл регистрацию 28 декабря 2010 г. в "РОСПАТЕНТЕ" в качестве товарного знака,
                право его использования принадлежит Общероссийской общественной организации " Всероссийское
                добровольное Пожарное Общество".
                Порядок использования флага, эмблемы, знака устанавливается положением, утвержденным Центральным советом
                ВДПО.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}