{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Цели и задачи
                </div>

              </div>
            </div>

            <div class="row">
              Основными целями Общества являются:
            </div>

            <div>
              <br>
              <div class="row">
                <ul class="vertical-menu1">
                  <li>Защита жизни и здоровья граждан, окружающей среды и имущества от пожаров и чрезвычайных ситуаций.
                  </li>
                  <li>Защита прав и законных интересов личности, общества и организаций в области пожарной безопасности
                    и чрезвычайных ситуаций.</li>
                  <li>Объединение и привлечение граждан (добровольцев) и юридических лиц - общественных объединений для
                    участия в решении задач в области
                    пожарной безопасности, предупреждении и тушении пожаров, предупреждении и ликвидации последствий
                    чрезвычайных ситуаций, в том числе в
                    составе создаваемой Обществом добровольной и иных видов пожарной охраны, общественных
                    противопожарных и аварийно-спасательных формирований.</li>
                  <li>Осуществление образовательной деятельности в области пожарной безопасности, охраны труда и других
                    программ дополнительного профессионального образования.</li>
                  <li>Осуществление деятельности в области пожарной безопасности.</li>
                </ul>
              </div>
              <br>
              <div class="row">
                Для реализации поставленных целей Общество решает следующие задачи:
              </div>
              <br>
              <div class="row">
                <ul class="vertical-menu1">
                  <li>Содействие разработке и реализации государственной политики, целевых и иных программ и проектов,
                    совершенствованию законодательства и нормативной правовой базы в сфере пожарной безопасности и
                    защиты
                    от чрезвычайных ситуаций.</li>
                  <li>Осуществление противопожарной пропаганды и распространение знаний в области пожарной безопасности
                    и защиты от чрезвычайных ситуаций,
                    подготовка населения к действиям по предупреждению и тушению пожаров, преодолению последствий
                    чрезвычайных ситуаций природного и
                    техногенного характера.</li>
                  <li>Содействие развитию добровольчества, объединению и привлечению граждан (добровольцев) к
                    деятельности по предупреждению и тушению пожаров,
                    защите от чрезвычайных ситуаций и реализации иных уставных целей и задач ВДПО.</li>
                  <li>Благотворительная и гуманитарная деятельность, включая деятельность по облегчению страданий,
                    оказанию социальной помощи и поддержки детям,
                    инвалидам, гражданам пожилого возраста, лицам, находящимся в трудной жизненной ситуации, семьям
                    погибших и пострадавшим в результате пожаров,
                    чрезвычайных ситуаций, стихийных бедствий, экологических, техногенных и иных катастроф, в том числе
                    пожарным, спасателям и их семьям,
                    увековечению памяти погибших и умерших пожарных и спасателей. </li>
                  <li>Содействие деятельности в сфере образования, просвещения, науки, пропаганды здорового образа
                    жизни, физической культуры и спорта,
                    патриотического воспитания граждан, а также по оказанию социальной защиты и иной помощи гражданам с
                    ограниченными возможностями,
                    детям и социальным учреждениям в части обеспечения пожарной безопасности и защиты от чрезвычайных
                    ситуаций.</li>
                  <li>Популяризация пожарного и спасательного дела, профессии пожарного и спасателя, организация и
                    проведение спортивных и иных мероприятий по пожарно-прикладному
                    спорту и профессиональной ориентации детей и молодежи.</li>
                  <li>Удовлетворение потребностей граждан и организаций в технологиях, системах и средствах обеспечения
                    пожарной безопасности,
                    в проектных, строительно-монтажных, работах и услугах, в области пожарной безопасности, защиты от
                    чрезвычайных ситуаций и
                    в иных сферах, не запрещенных действующим законодательством.</li>
                  <li>Защита и представление прав и законных интересов граждан и организаций в сфере пожарной
                    безопасности и защиты от чрезвычайных ситуаций,
                    а также членов и работников ВДПО. Содействие разработке и реализации мер правовой и социальной
                    защиты добровольных пожарных и работников
                    общественных объединений пожарной охраны, а также членов их семей. Содействие защите прав и законных
                    интересов общественных объединений
                    пожарной охраны, профессиональных и добровольных пожарных, а также ветеранов пожарно-спасательных
                    служб.</li>
                  <li>Содействие и осуществление координации деятельности общественных объединений пожарной охраны в
                    установленном порядке.</li>
                  <li>Обеспечение общественных интересов и продвижение гражданских инициатив в области обеспечения
                    пожарной безопасности, предупреждения
                    и ликвидации чрезвычайных ситуаций, производства пожарно-технической продукции. Участие в
                    осуществлении общественного контроля
                    (общественного мониторинга, общественной проверки, общественной экспертизы и др.).</li>
                  <li>Просветительская и образовательная деятельность, направленная на повышение теоретических знаний,
                    практических умений и навыков
                    в области пожарной безопасности и ликвидации чрезвычайных ситуаций, охраны труда,
                    электробезопасности и др., реализация программ
                    дополнительного профессионального образования руководителей и специалистов организаций, работников
                    подразделений пожарной охраны,
                    добровольных пожарных, граждан, выполнение иных общественно полезных услуг.</li>
                  <li>Участие в профилактике и (или) тушении пожаров и проведении аварийно-спасательных работ.</li>
                  <li>Осуществление иной деятельности в области пожарной безопасности, предупреждения и ликвидации
                    чрезвычайных ситуаций
                    природного и техногенного характера в порядке, установленном законодательством Российской Федерации.
                  </li>
                </ul>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}