{% extends 'base.html' %}

{% block content %}

<div class="content-wrapper">
  <div class="container">

    <div class="row">
      {% include 'sidebar.html' %}
      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Техническое обслуживание и ремонт огнетушителей
                </div>

              </div>
            </div>

            <div class="row">
              Марийское республиканское отделение ВДПО производит техническое обслуживание и ремонт всех видов
              огнетушителей.
            </div>
            <br>
            <div class="row">
              Справки по телефону: (8362) 38-00-13 - приемная
            </div>
            <br>

            <div class="row">
              <b>ТЕХНИЧЕСКОЕ ОБСЛУЖИВАНИЕ</b>
            </div>
            <br>

            <div class="row">
              Огнетушители, введенные в эксплуатацию, должны подвергаться техническому обслуживанию, которое
              обеспечивает поддержание огнетушителей в постоянной готовности к использованию и надежную работу
              всех узлов огнетушителя в течение всего срока эксплуатации. Техническое обслуживание включает
              в себя периодические проверки, осмотры, ремонт, испытания и перезарядку огнетушителей.
              Периодические проверки необходимы для контроля состояния огнетушителей, контроля места установки
              огнетушителей и надежности их крепления, возможности свободного подхода к ним, наличия,
              расположения и читаемости инструкции по работе с огнетушителями.
              Техническое обслуживание огнетушителей должно проводиться в соответствии с инструкцией
              по эксплуатации и с использованием необходимых инструментов и материалов лицом, назначенным
              приказом по предприятию или организации, прошедшим в установленном порядке проверку знаний
              нормативно-технических документов по устройству и эксплуатации огнетушителей и параметрам ОТВ,
              способным самостоятельно проводить необходимый объем работ по обслуживанию огнетушителей.
              Огнетушители, выведенные на время ремонта, испытания или перезарядки из эксплуатации,
              должны быть заменены резервными огнетушителями с аналогичными параметрами.
            </div>
            <br>

            <div class="row">
              Перед введением огнетушителя в эксплуатацию он должен быть подвергнут первоначальной проверке,
              в процессе которой производят внешний осмотр, проверяют комплектацию огнетушителя и состояние
              места его установки (заметность огнетушителя или указателя места его установки, возможность
              свободного подхода к нему), а также читаемость и доходчивость инструкции по работе
              с огнетушителем. В ходе проведения внешнего осмотра контролируется:
            </div>
            <br>

            <div class="row">
              <ul class="vertical-menu1">
                <li>отсутствие вмятин, сколов, глубоких царапин на корпусе, узлах управления, гайках и головке
                  огнетушителя;</li>
                <li>состояние защитных и лакокрасочных покрытий;</li>
                <li>наличие четкой и понятной инструкции;</li>
                <li>состояние предохранительного устройства;</li>
                <li>исправность манометра или индикатора давления (если он предусмотрен конструкцией огнетушителя),
                  наличие необходимого клейма и величина давления в огнетушителе закачного типа или в газовом баллоне;
                </li>
                <li>масса огнетушителя, а также масса ОТВ в огнетушителе (последнюю определяют расчетным путем);</li>
                <li>состояние гибкого шланга (при его наличии) и распылителя ОТВ (на отсутствие механических
                  повреждений, следов коррозии, литейного облоя или других предметов, препятствующих свободному
                  выходу ОТВ из огнетушителя);</li>
                <li>состояние ходовой части и надежность крепления корпуса огнетушителя на тележке
                  (для передвижного огнетушителя), на стене или в пожарном шкафу (для переносного огнетушителя).
                  Результат проверки заносят в паспорт огнетушителя и в журнал учета огнетушителей (п. 4.5.4, приложение
                  Г).</li>

              </ul>
            </div>

            <div class="row">
              Ежеквартальная проверка включает в себя осмотр места установки огнетушителей и подходов к ним,
              а также проведение внешнего осмотра огнетушителей по п. 4.3.5.
              Ежегодная проверка огнетушителей включает в себя внешний осмотр огнетушителей по п. 4.3.5,
              осмотр места их установки и подходов к ним. В процессе ежегодной проверки контролируют величину
              утечки вытесняющего газа из газового баллона или ОТВ из газовых огнетушителей. Производят
              вскрытие огнетушителей (полное или выборочное), оценку состояния фильтров, проверку параметров ОТВ
              и, если они не соответствуют требованиям соответствующих нормативных документов, производят
              перезарядку огнетушителей.
              При повышенной пожарной опасности объекта (помещения категории А) или при постоянном воздействии
              на огнетушители таких неблагоприятных факторов, как близкая к предельному значению
              (по ТД на огнетушитель) положительная или отрицательная температура окружающей среды,
              влажность воздуха более 90% (при 25°С), коррозионно-активная среда, воздействие вибрации и т.д.,
              проверка огнетушителей и контроль ОТВ должны проводиться не реже одного раза в 6 месяцев.
              Если в ходе проверки обнаружено несоответствие какого-либо параметра огнетушителя требованиям
              действующих нормативных документов, необходимо устранить причины выявленных отклонений параметров
              и перезарядить огнетушитель.
              В случае, если величина утечки за год вытесняющего газа или ОТВ из газового огнетушителя превышает
              предельные значения, определенные в ГОСТ Р 51057 или ГОСТ Р 51017, огнетушитель выводят из
              эксплуатации и отправляют в ремонт или на перезарядку.
            </div>
            <br>


            <div class="row">
              Не реже одного раза в 5 лет каждый огнетушитель и баллон с вытесняющим газом должны быть
              разряжены, корпус огнетушителя полностью очищен от остатков ОТВ, произведен внешний и внутренний
              осмотр, а также проведены испытания на прочность и герметичность корпуса огнетушителя, пусковой
              головки, шланга и запорного устройства. В ходе проведения осмотра необходимо контролировать:
            </div>
            <br>

            <div class="row">
              <ul class="vertical-menu1">
                <li>состояние внутренней поверхности корпуса огнетушителя (отсутствие вмятин или вздутий металла,
                  отслаивание защитного покрытия);</li>
                <li>отсутствие следов коррозии;</li>
                <li>состояние прокладок, манжет или других видов уплотнений;</li>
                <li>состояние предохранительных устройств, фильтров, приборов измерения давления, редукторов,
                  вентилей, запорных устройств и их посадочных мест;</li>
                <li>массу газового баллончика, срок его очередного испытания или срок гарантийной эксплуатации
                  газогенерирующего элемента;</li>
                <li>состояние поверхности и узлов крепления шланга;</li>
                <li>состояние, гарантийный срок хранения и значения основных параметров ОТВ;</li>
                <li>состояние и герметичность контейнера для поверхностно-активного вещества или пенообразователя
                  (для водных, воздушно-эмульсионных и воздушно-пенных огнетушителей с раздельным хранением воды
                  и других компонентов заряда).</li>

              </ul>
            </div>

            <div class="row">
              В случае обнаружения механических повреждений или следов коррозии корпус и узлы огнетушителя
              должны быть подвергнуты испытанию на прочность досрочно.
              Если гарантийный срок хранения заряда ОТВ истек или обнаружено, что заряд хотя бы по одному
              из параметров не соответствует требованиям технических условий, он подлежит замене.
              Порошковые огнетушители при ежегодном техническом осмотре выборочно (не менее 3% от общего
              количества огнетушителей одной марки, но не менее 1 шт.) разбирают и производят проверку основных
              эксплуатационных параметров огнетушащего порошка (внешний вид, наличие комков или посторонних
              предметов, сыпучесть при пересыпании рукой, возможность разрушения небольших комков до пылевидного
              состояния при их падении с высоты 20 см, содержание влаги и дисперсность). В случае если хотя бы
              по одному из параметров порошок не удовлетворяет требованиям нормативной и технической документации,
              все огнетушители данной марки подлежат перезарядке.
              Порошковые огнетушители, используемые для защиты транспортных средств, проверяют в полном объеме
              с интервалом не реже одного раза в 12 месяцев.
              О проведенных проверках делают отметку в журнале учета огнетушителей.
            </div>
            <br>

            <div class="row">
              <b> ПЕРЕЗАРЯДКА ОГНЕТУШИТЕЛЕЙ </b>
            </div>
            <br>

            <div class="row">
              Все огнетушители должны перезаряжаться сразу после применения или если величина утечки газового
              ОТВ или вытесняющего газа за год превышает допустимое значение (ГОСТ Р 51057 или ГОСТ Р 51017),
              но не реже сроков, указанных в таблице 1. Сроки перезарядки огнетушителей зависят от условий их
              эксплуатации и от вида используемого ОТВ.
              При перезарядке корпуса огнетушителей низкого или высокого давления подвергают испытанию
              гидростатическим пробным испытательным давлением в соответствии с требованиями ГОСТ Р 51017
              и ГОСТ Р 51057.
            </div>
            <br>

            <div class="row">
              <b> Сроки проверки параметров ОТВ и перезарядки огнетушителей </b>
            </div>
            <br>
            <div class="row">
              <table border="1">

                <tr align="center">
                  <td rowspan="2">Вид используемого ОТВ</td>
                  <td colspan="2">Срок (не реже) </td>
                </tr>
                <tr align="center">
                  <td>проверки параметров ОТВ </td>
                  <td>перезарядки огнетушителя </td>
                </tr>

                <tr align="center">
                  <td>Вода, вода с добавками </td>
                  <td>1 раз в год </td>
                  <td>1 раз в год* </td>
                </tr>

                <tr align="center">
                  <td>Пена </td>
                  <td>1 раз в год </td>
                  <td>1 раз в год* </td>
                </tr>

                <tr align="center">
                  <td>Порошок </td>
                  <td>1 раз в год (выборочно) </td>
                  <td>1 раз в 5 лет </td>
                </tr>

                <tr align="center">
                  <td>Углекислота (диоксид углерода) </td>
                  <td>взвешиванием 1 раз в год </td>
                  <td>1 раз в 5 лет </td>
                </tr>

                <tr align="center">
                  <td>Хладон </td>
                  <td>взвешиванием 1 раз в год </td>
                  <td>1 раз в 5 лет </td>
                </tr>
                <tr align="center">

                  <td colspan="4">* - Огнетушители с многокомпонентным стабилизированным зарядом
                    на основе углеводородного или фторсодержащего пенообразователя, а также огнетушители,
                    внутренняя поверхность корпуса которых защищена полимерным или эпоксидным покрытием,
                    или корпус огнетушителя изготовлен из нержавеющей стали, должны проверяться и перезаряжаться
                    с периодичностью, рекомендованной фирмой-изготовителем огнетушителей. </td>
                </tr>


              </table>
            </div>
            <br>


            <div class="row">
              Корпуса углекислотных огнетушителей подвергают испытанию гидростатическим давлением не реже одного раза в
              5 лет.
              Величину испытательного давления определяют в соответствии с требованиями правил.
              После успешного завершения испытания корпуса на прочность огнетушитель должен быть просушен, покрашен
              (при необходимости) и заряжен ОТВ.
              Корпуса порошковых и газовых огнетушителей перед зарядкой ОТВ должны быть просушены. Наличие в них влаги
              не допускается.
              Огнетушители или отдельные узлы, не выдержавшие гидравлического испытания на прочность, не подлежат
              последующему ремонту, их выводят из эксплуатации и выбраковывают.
              Порошковые огнетушители, установленные на транспортных средствах вне кабины или салона и подвергающиеся
              воздействию неблагоприятных климатических и (или) физических факторов, должны перезаряжаться не реже
              1 раза в год, остальные огнетушители, установленные на транспортных средствах, не реже одного раза в два
              года.
              ОТВ, предназначенные для зарядки в огнетушитель, должны быть герметично упакованы, иметь четкую
              маркировку и необходимую сопроводительную техническую документацию, а также пройти входной контроль
              на проверку соответствия их основных эксплуатационных параметров требованиям нормативных документов.
              ОТВ, не соответствующие по своим параметрам требованиям нормативной и технической документации,
              не должны применяться для зарядки в огнетушители.
              Не допускается при перезарядке огнетушителей использовать неизрасходованный остаток ОТВ
              (после применения огнетушителя) без квалификационной проверки его свойств на соответствие требованиям НТД.
              Заряд водных, воздушно-пенных и воздушно-эмульсионных огнетушителей полностью заменяется свежим.
              Запрещается преобразовывать огнетушители из одного типа в другой.
              Необходимо использовать только такие составы и в таком количестве, которые указаны в технической
              документации на данный огнетушитель.
              В том случае, если при перезарядке огнетушителя используют ОТВ с другой областью применения,
              чем рекомендовано в технической документации на огнетушитель (например, вместо порошка типа
              АВСЕ используют порошок типа ВСЕ или вместо заряда на основе фторсодержащего пенообразователя
              заливают в огнетушитель заряд на основе углеводородного пенообразователя, или вместо ОТВ одной
              марки заряжают в огнетушитель ОТВ другой марки или другой фирмы-изготовителя), необходимо провести
              испытания огнетушителей на соответствие параметров выхода ОТВ и огнетушащей способности
              требованиям ГОСТ Р 51057или ГОСТ Р 51017 и при получении положительных результатов внести
              соответствующие изменения в маркировку огнетушителя, этикетку (или установить новую) и его паспорт.
              Потребитель должен быть проинформирован о произведенной замене в письменной форме.
              Запрещается заряжать ОТВ в корпус огнетушителя сверх допустимого значения (особенно газовых,
              водных, пенных и эмульсионных огнетушителей), т.к. это может привести к его разрушению при наддуве.
              Неиспользованный заряд хладонового огнетушителя не допускается выпускать в атмосферу; он должен
              быть собран в герметичную емкость и подвергнут регенерации или утилизации.
            </div>

            <div class="row">
              О проведенной перезарядке огнетушителя делают соответствующую отметку на корпусе огнетушителя
              (при помощи этикетки или бирки, прикрепленной к огнетушителю), а также в его паспорте.
            </div>
            <br>





          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}