{% extends 'base.html' %}

{% block content %}
<div class="content-wrapper">
  <div class="container">
    <div class="row">
      {% include 'sidebar.html' %}

      <div class="col-lg-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="grid-margin">
              <div class="d-flex justify-content-between align-items-center">
                <div class="card-title">
                  Устав
                </div>

              </div>
            </div>

            <ul class="vertical-menu1">
              <li><a href="../static/img/ustav_vdpo_23.03.2021_na_31_l_0.pdf">Устав Общероссийской общественной
                  организации <br>
                  "Всероссийское добровольное пожарное общество"</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}